<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Buddy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">

</head>

<body>

<div class="background"></div>

<div class="app">

    <!-- Sidebar -->

    <aside class="sidebar" id="sidebar">

        <div class="sidebar-top">

            <div class="brand">

               <div class="logo">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="AI Buddy">
</div>

                <div>

                    <h2>AI Buddy</h2>

                    <span>Your Intelligent Assistant</span>

                </div>

            </div>

            <button class="new-chat" onclick="newChat()">

                <i class="fa-solid fa-plus"></i>

                New Chat

            </button>

        </div>

        <div class="history">

            <h3>Recent Chats</h3>

            <ul id="history-list">

                <li>

                    <i class="fa-solid fa-message"></i>

                    Welcome

                </li>

            </ul>

        </div>

        <div class="sidebar-bottom">

            <button class="menu-btn">

                <i class="fa-solid fa-gear"></i>

                Settings

            </button>

        </div>

    </aside>

    <!-- Main Chat -->

    <main class="main">

        <header class="topbar">

            <button class="toggle-btn" onclick="toggleSidebar()">

                <i class="fa-solid fa-bars"></i>

            </button>

            <div>

                <h1>AI Buddy</h1>

                <p>Ask Anything • Learn Everything</p>

            </div>

        </header>

        <!-- Chat -->

        <div class="chat-box" id="chat-box">

            <div class="message ai">

                <div class="avatar">

                    🤖

                </div>

                <div class="bubble">

                    <strong>Hello 👋</strong>

                    <br><br>

                    Welcome to <b>AI Buddy</b>.

                    <br><br>

                    Ask me anything.

                </div>

            </div>

        </div>

     <img id="preview-image">

    <div id="preview-name"></div>

    <button onclick="removePreview()">❌</button>

        <!-- Input -->

        <div class="input-area">
            <div id="preview-area" class="preview-area" style="display:none;">

   

</div>
<label for="file-input" class="icon-btn">
    <i class="fa-solid fa-paperclip"></i>
</label>

<input
    type="file"
    id="file-input"
    hidden
    accept="image/*,.pdf,.txt,.doc,.docx">

           <input
    id="message"
               
    type="text"
               
    placeholder="Message AI Buddy..."
>

            <button class="send-btn"

                onclick="sendMessage()">

                <i class="fa-solid fa-paper-plane"></i>

            </button>

        </div>

    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
